In [1]:
import pandas as pd

In [2]:
granada = {'Jugador':['Luis Suares','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Luis Manuel Arantes Maximiano'],
'Posicion':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
'Numero':[9, 23, 10, 6, 5, 1],
'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
'Goles':[7, 7, 5, 2, 2, 0]}

In [3]:
df = pd.DataFrame(granada, index= granada["Numero"])

In [4]:
df

                          Jugador        Posicion  Numero  Altura  Goles
9                     Luis Suares       Delantero       9   185.0      7
23                   Jorge Molina       Delantero      23   187.0      7
10                Antonio Puertas  Centrocampista      10   185.0      5
6                  German Sanchez         Defensa       6   187.0      2
5                      Luis Milla  Centrocampista       5   175.0      2
1   Luis Manuel Arantes Maximiano         Portero       1   190.0      0

In [5]:
df_books = pd.read_csv("bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv", sep=",", header=0, names=["Nombre","Autor","Radio de Usuario","Vistas", "Precio", "Año", "Genero"])
df_books

,Nombre,Autor,Radio de Usuario,Vistas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [6]:
df_harry = pd.read_json("harry.json")
df_harry

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

In [7]:
import requests

url = "https://api.xor.cl/red/metro-network"
r = requests.get(url)
metro = r.json()

df_metro = pd.DataFrame(metro)
df_metro

,api_status,time,issues,lines
0,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 1', 'id': 'L1', 'issues': Fals..."
1,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 2', 'id': 'L2', 'issues': Fals..."
2,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 3', 'id': 'L3', 'issues': Fals..."
3,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 4', 'id': 'L4', 'issues': Fals..."
4,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 4A', 'id': 'L4A', 'issues': Fa..."
5,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 5', 'id': 'L5', 'issues': Fals..."
6,OK,2023-07-24 18:33:20,False,"{'name': 'Línea 6', 'id': 'L6', 'issues': Fals..."

In [8]:
def df_general(dato):
    general = dato
    general = general.to_json()
    general = pd.read_json(general)
    
    return general



df_lineas = df_metro["lines"]
df_lineas = df_lineas.to_json()
df_lineas = pd.read_json(df_lineas)

df_lineas

,0,1,2,3,4,5,6
name,Línea 1,Línea 2,Línea 3,Línea 4,Línea 4A,Línea 5,Línea 6
id,L1,L2,L3,L4,L4A,L5,L6
issues,False,False,False,False,False,False,False
stations_closed_by_schedule,0,0,0,0,0,0,0
stations,"[{'name': 'San Pablo', 'id': 'san-pablo', 'sta...","[{'name': 'La Cisterna', 'id': 'la-cisterna', ...","[{'name': 'Los Libertadores', 'id': 'los-liber...","[{'name': 'Tobalaba', 'id': 'tobalaba', 'statu...","[{'name': 'Vicuña Mackenna', 'id': 'vicuna-mac...","[{'name': 'Plaza de Maipú', 'id': 'plaza-de-ma...","[{'name': 'Cerrillos', 'id': 'cerrillos', 'sta..."

In [9]:
df_estaciones = df_lineas[0]
df_estaciones = df_estaciones.to_json()
df_estaciones = pd.read_json(df_estaciones)

linea_1 = df_general(df_estaciones["stations"])
#san_pablo = df_general(linea_1["schedule"])

linea_1

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
name,San Pablo,Neptuno,Pajaritos,Las Rejas,Ecuador,San Alberto Hurtado,Universidad de Santiago,Estación Central,U.L.A.,República,...,Manuel Montt,Pedro de Valdivia,Los Leones,Tobalaba,El Golf,Alcántara,Escuela Militar,Manquehue,Hernando de Magallanes,Los Dominicos
id,san-pablo,neptuno,pajaritos,las-rejas,ecuador,san-alberto-hurtado,universidad-de-santiago,estacion-central,u-l-a,republica,...,manuel-montt,pedro-de-valdivia,los-leones,tobalaba,el-golf,alcantara,escuela-militar,manquehue,hernando-de-magallanes,los-dominicos
status,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
lines,"[L1, L5]",[L1],[L1],[L1],[L1],[L1],[L1],[L1],[L1],[L1],...,[L1],[L1],"[L1, L6]","[L1, L4]",[L1],[L1],[L1],[L1],[L1],[L1]
description,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,...,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa,Estación Operativa
is_closed_by_schedule,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
schedule,"{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...",...,"{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06...","{'open': {'weekdays': '06:00', 'saturday': '06..."

In [10]:
columna_San_Pablo =

SyntaxError: invalid syntax (1167584719.py, line 1)